* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background-image: url("assets/images/bg.jpg");
  height: 90vh;
  background-position: center center;
  position: relative;
  background-repeat: no-repeat;
}
.nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 10;
}

.nav .logo {
  width: 114px;
  height: 100%;
}

.nav .btn-sign-in {
  background-color: red;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 500;
  color: white;
  font-size: 12px;
  border: none;
  font-family: Helvetica, sans-serif;
}

.main .box {
  height: 90vh;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0.44;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: white;
  position: relative;
  z-index: 10;
}

.hero h1 {
  width: 30%;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.hero :nth-child(2) {
  font-size: 20px;
  font-weight: 500;
}

.box-email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box-email .email {
  width: 530px;
  height: 56px;
  background-color: rgba(23, 23, 23, 0.2);
  color:white;
  padding: 20px;
  border: solid 2px gray;
  border-radius: 5px;
  font-weight: 500;
  font-size: 24px;
}

.box-email .box-btn {
  padding: 14px 45px;
  background-color: red;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.box-email .box-btn .btn-start {
  border: none;
  background-color: red;
  outline: none;
  color: white;
  font-weight: 500;
  font-size: 24px;
}

